/*  Put your CSS Here */
h1 {
    text-align: center;
}
.rod {
    width: 20px;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;  
    align-items: center;
}
.disc {
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
}
.clicked {
    border: 2px solid yellow;
}
#game {
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    background: grey;
}
#disc1 {
    width: 50px;
    background-color: blue;
}
#disc2 {
    width: 100px;
    background-color: purple;
}
#disc3 {
    width: 150px;
    background-color: green;
}
#disc4 {
    width: 200px;
    background-color: red;
}
